---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import ContactForm from "../components/ContactForm";
import { getHomepage } from "../utils/sanity";
import "../globals.css";
import Marquee from "../components/Marquee.astro";
import SectionAbout from "../components/SectionAbout.astro";
import SectionCards from "../components/SectionCards.astro";
import SectionRows from "../components/SectionRows.astro";
import SectionNews from "../components/SectionNews.astro";
import SectionTextImage from "../components/SectionTextImage.astro";
const homepage = await getHomepage();
---

<Layout>
  <div class="flex flex-col gap-40 md:gap-48">
    {
      homepage.heroSection && (
        <div>
          <section class="container mx-auto px-4 md:px-8 flex flex-col md:justify-center min-h-svh py-32 relative">
            <div class="relative z-5 flex flex-col items-start gap-4">
              <h1 class="t-0 md:text-9xl  tracking-tighter mb-4 max-w-xl leading-[.9]">
                {homepage.heroSection.headline}
              </h1>
              <h2 class="md:text-2xl max-w-lg">
                {homepage.heroSection.subHeadline}
              </h2>
              <a href="#contact" class="btn pill">
                Contact us
              </a>
            </div>
            {homepage.heroSection.mainImage && (
              <Image
                src={homepage.heroSection.mainImage.asset.url}
                height={200}
                width={200}
                alt={homepage.heroSection.mainImage.alt ?? ""}
                class="w-[130%] max-w-none md:w-2/3 h-1/2 md:h-auto object-contain object-right-bottom max-h-screen absolute bottom-0 right-0"
              />
            )}
          </section>

          <Marquee className="bg-black text-white">
            <span class="mono mx-2">Discover the subnet &nbsp;↓</span>
          </Marquee>
        </div>
      )
    }

    {homepage.aboutSection && <SectionAbout data={homepage.aboutSection} />}

    {
      homepage.featuresSection && (
        <SectionCards data={homepage.featuresSection} />
      )
    }

    {homepage.subnetSection && <SectionRows data={homepage.subnetSection} />}

    {homepage.nftSection && <SectionTextImage data={homepage.nftSection} />}
    {homepage.newsSection && <SectionNews data={homepage.newsSection} />}
    {
      homepage.contactSection && (
        <section
          id="contact"
          class="text-center flex flex-col items-center gap-8 "
        >
          <div class="px-4 md:px-8">
            <h4 class="t-1 font-[500]">{homepage.contactSection.headline}</h4>
            <p class="opacity-70 text-xl mt-4 max-w-lg">
              {homepage.contactSection.text}
            </p>
          </div>
          <ContactForm client:load />
        </section>
      )
    }
  </div>
</Layout>
